/*Trying a new reset: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation */
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%}body{margin: 0;font: 16px/1 sans-serif;-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased}h1,h2,h3,h4,p,blockquote,figure,ol,ul{margin: 0;padding: 0}main,li{display: block}h1,h2,h3,h4{font-size: inherit}strong{font-weight: bold}a,button{color: inherit;transition: .3s}a{text-decoration: none}button{overflow: visible;border: 0;font: inherit;-webkit-font-smoothing: inherit;letter-spacing: inherit;background: none;cursor: pointer}::-moz-focus-inner{padding: 0;border: 0}:focus{outline: 0}img{max-width: 100%;height: auto;border: 0}

body{ background-color: black };

@font-face {
    font-family: 'Mech';
    src: url('fonts/mech_monoline-webfont.eot');
    src: url('fonts/mech_monoline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mech_monoline-webfont.woff2') format('woff2'),
         url('fonts/mech_monoline-webfont.woff') format('woff'),
         url('fonts/mech_monoline-webfont.ttf') format('truetype'),
         url('fonts/mech_monoline-webfont.svg#_.uploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}

//Main view styles
#app {
    position: absolute;
    width: 640px;
    height: 480px;
    top: 0; left: 0;
}

@media(min-width:640px){
    #app{
        top: 50%; left: 50%;
        margin: -240px 0 0 -320px;
    }
}

#app .view {
    //configure app view to relative standard settings...
    width:100%; height:100%;
    position: relative;
    display:none;
    overflow: hidden;
}

.active{
    display:block !important;
}


.close {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 0 0 0 0;
    font-size: 10px;
    background-color: white;
    border-color: white;
    z-index: inherit;
}
.close:after{
    content: "Done";
    color: white;
    position: absolute;
    top: 15px;
    left: -4px;
    font-size: 8px;
    z-index: inherit;
}

/*
Import all partials for each panel for the app
*/
@import 'partials/modals';

@import 'partials/mainMenu';
@import 'partials/characters';
@import 'partials/technology';
@import 'partials/locations';

@import 'partials/glossary';



/*
Making a cute launcher
*/
.launcher {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    img {
        display: block;
        border: 1px solid white;
    }

    span {
        display: block;
        width: 312px;
        height: 25px;
        font-size: 16px;
    }

    button{
        display: block;
        background-color: #bbb;
        width: 312px; height: 25px;
        font-size: 16px;
    }

    button:hover, button:focus{
        background-color: white;
        font-size: 18px;
    }

    span {
        color: white;
        text-align: center;
        line-height: 25px;
    }
}