/*Trying a new reset: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0; }

main, li {
  display: block; }

h1, h2, h3, h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a, button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  background-color: black; }

@font-face {
  font-family: 'Mech';
  src: url("fonts/mech_monoline-webfont.eot");
  src: url("fonts/mech_monoline-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/mech_monoline-webfont.woff2") format("woff2"), url("fonts/mech_monoline-webfont.woff") format("woff"), url("fonts/mech_monoline-webfont.ttf") format("truetype"), url("fonts/mech_monoline-webfont.svg#_.uploaded_file") format("svg");
  font-weight: normal;
  font-style: normal; }
#app {
  position: absolute;
  width: 640px;
  height: 480px;
  top: 0;
  left: 0; }

@media (min-width: 640px) {
  #app {
    top: 50%;
    left: 50%;
    margin: -240px 0 0 -320px; } }
#app .view {
  width: 100%;
  height: 100%;
  position: relative;
  display: none; }

.active {
  display: block !important; }

.close {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0 0 0 0;
  font-size: 10px;
  background-color: white;
  border-color: white;
  z-index: inherit; }

.close:after {
  content: "Done";
  color: white;
  position: absolute;
  top: 15px;
  left: -4px;
  font-size: 8px;
  z-index: inherit; }

/*
Import all partials for each panel for the app
*/
.modal {
  position: absolute;
  display: none;
  border-radius: 10px;
  background-color: black; }

.modal-active {
  display: block;
  z-index: 6; }

.modal-active::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; }

.modal-text {
  top: 28px;
  left: 93px;
  width: 445px;
  height: 342px;
  box-shadow: 10px 10px 10px #111; }

.modal-text-inner {
  z-index: inherit;
  height: 307px;
  width: 440px;
  top: 10px;
  left: 5px;
  position: relative;
  border-radius: 10px;
  color: white;
  overflow-y: auto;
  font-size: 14px; }

.modal-title {
  position: relative;
  color: #989898;
  top: 5px;
  left: 10px;
  font-family: "Mech";
  font-size: 24px; }

.mainMenu {
  background-image: url("/assets/GENERAL/IMAGES/MAINMENU.JPG"); }
  .mainMenu nav {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    width: 260px;
    height: 100%; }
  .mainMenu hr {
    width: 220px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-left: 28px;
    margin-right: 14px; }
  .mainMenu a div {
    width: 235px;
    height: 37px;
    margin-left: 20px;
    margin-bottom: 8px;
    margin-right: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    letter-spacing: 1px;
    font-family: 'Mech';
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    text-decoration: none; }
  .mainMenu a:hover > div, .mainMenu a:focus > div {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: white; }
  .mainMenu video {
    position: absolute;
    top: 102px;
    left: 257px; }

.mainMenu_map {
  background-image: url("/assets/GENERAL/IMAGES/MAINMAP.JPG"); }
  .mainMenu_map span {
    color: white;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Mech';
    letter-spacing: 1px;
    font-size: 30px; }
  .mainMenu_map .main {
    position: absolute;
    color: #A0F0D8;
    font-family: 'Mech';
    letter-spacing: 1px;
    font-size: 20px; }
  .mainMenu_map ul {
    position: absolute; }
  .mainMenu_map .sub {
    color: #C8C8C8;
    font-size: 10px;
    display: block;
    padding: 1px 0; }
  .mainMenu_map a:hover, .mainMenu_map a:focus {
    color: white; }
  .mainMenu_map .mchars {
    top: 60px;
    left: 150px;
    padding: 5px 38px 5px 0; }
  .mainMenu_map .chars {
    top: 70px;
    left: 65px;
    text-align: right; }
  .mainMenu_map .mtech {
    top: 152px;
    left: 80px;
    padding: 5px 38px 5px 0; }
  .mainMenu_map .tech {
    top: 162px;
    left: 55px;
    text-align: right; }
  .mainMenu_map .mlocs {
    top: 258px;
    left: 90px;
    padding: 5px 38px 5px 0; }
  .mainMenu_map .mevts {
    left: 466px;
    padding: 5px 0 5px 38px;
    top: 152px; }
  .mainMenu_map .mep1 {
    left: 396px;
    padding: 5px 0 5px 38px;
    top: 60px; }
  .mainMenu_map .mscenes {
    top: 338px;
    left: 117px;
    padding: 5px 38px 5px 0; }
  .mainMenu_map .scenes {
    top: 347px;
    left: 45px;
    text-align: right; }
  .mainMenu_map .mbehind {
    left: 403px;
    padding: 5px 0 5px 38px;
    top: 338px; }
  .mainMenu_map .behind {
    left: 414px;
    top: 345px; }
  .mainMenu_map .mexpd {
    left: 462px;
    padding: 5px 0 5px 38px;
    top: 258px; }
  .mainMenu_map .expd {
    left: 479px;
    top: 266px; }
  .mainMenu_map .mglos {
    left: 295px;
    padding: 38px 0 0 0;
    top: 366px; }
  .mainMenu_map .close {
    top: 15px;
    left: 610px; }

.characters_menu {
  background-image: url("/assets/CHARS/IMAGES/CHARMENU.JPG"); }
  .characters_menu video {
    position: absolute;
    top: 58px;
    left: 0px; }
  .characters_menu span {
    position: absolute;
    top: 18px;
    left: 504px;
    font-family: 'Mech';
    font-size: 36px;
    color: white; }
  .characters_menu a {
    display: block;
    position: absolute;
    top: 59px;
    height: 395px; }
  .characters_menu a:hover {
    background-color: rgba(255, 255, 255, 0.05); }
  .characters_menu a[href*="main"] {
    width: 210px; }
  .characters_menu a[href*="aliens"] {
    left: 211px;
    width: 216px; }
  .characters_menu a[href*="groups"] {
    left: 428px;
    width: 212px; }
  .characters_menu a p {
    position: relative;
    top: 360px;
    width: 95%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px white solid;
    font-size: 20px;
    font-family: 'Mech';
    color: white; }

.characters_main {
  background-image: url("/assets/CHARS/MAINCHAR/IMAGES/CMB_BACK.JPG"); }
  .characters_main span {
    font-family: 'Mech';
    position: absolute;
    letter-spacing: 1px; }
  .characters_main .title {
    color: black;
    top: 209px;
    left: 277px;
    font-size: 34px;
    font-weight: bold; }
  .characters_main .obiwan, .characters_main .c3po, .characters_main .luke, .characters_main .leia, .characters_main .solo, .characters_main .vader {
    color: white;
    font-size: 30px; }
  .characters_main .imperials, .characters_main .jedi, .characters_main .droids, .characters_main .bounty, .characters_main .tatooine, .characters_main .smugglers, .characters_main .rebels {
    color: #B8CCF8;
    font-size: 22px; }
  .characters_main .obiwan {
    top: 156px;
    left: 267px; }
  .characters_main .c3po {
    top: 193px;
    left: 372px; }
  .characters_main .luke {
    top: 241px;
    left: 372px; }
  .characters_main .leia {
    top: 279px;
    left: 273px; }
  .characters_main .solo {
    top: 241px;
    left: 204px; }
  .characters_main .vader {
    top: 192px;
    left: 182px; }
  .characters_main .imperials {
    top: 23px;
    left: 34px; }
  .characters_main .jedi {
    top: 4px;
    left: 233px; }
  .characters_main .droids {
    top: 24px;
    left: 474px; }
  .characters_main .bounty {
    top: 241px;
    left: 5px; }
  .characters_main .tatooine {
    top: 246px;
    left: 575px; }
  .characters_main .smugglers {
    top: 422px;
    left: 118px; }
  .characters_main .rebels {
    top: 415px;
    left: 475px; }
  .characters_main a {
    position: absolute;
    border-radius: 50%;
    background-color: transparent; }
  .characters_main a:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .characters_main a[href*="PALP"] {
    top: 32px;
    left: 40px;
    width: 102px;
    height: 102px; }
  .characters_main a[href*="YODA"] {
    top: 8px;
    left: 175px;
    width: 80px;
    height: 80px; }
  .characters_main a[href*="OBIW"] {
    top: 6px;
    left: 244px;
    width: 154px;
    height: 154px; }
  .characters_main a[href*="21B"] {
    top: 8px;
    left: 388px;
    width: 80px;
    height: 80px; }
  .characters_main a[href*="R2D2"] {
    top: 30px;
    left: 495px;
    width: 102px;
    height: 102px; }
  .characters_main a[href*="TARK"] {
    top: 115px;
    left: 3px;
    width: 80px;
    height: 80px; }
  .characters_main a[href*="DART"] {
    top: 80px;
    left: 116px;
    width: 154px;
    height: 154px; }
  .characters_main a[href*="C3PO"] {
    top: 81px;
    left: 371px;
    width: 154px;
    height: 154px; }
  .characters_main a[href*="BIGG"] {
    top: 113px;
    left: 556px;
    width: 80px;
    height: 80px; }
  .characters_main a[href*="BOBA"] {
    top: 179px;
    left: 40px;
    width: 102px;
    height: 102px; }
  .characters_main a[href*="OWEN"] {
    top: 180px;
    left: 495px;
    width: 102px;
    height: 102px; }
  .characters_main a[href*="JABB"] {
    top: 265px;
    left: 2px;
    width: 80px;
    height: 80px; }
  .characters_main a[href*="HANS"] {
    top: 226px;
    left: 116px;
    width: 154px;
    height: 154px; }
  .characters_main a[href*="LUKE"] {
    top: 227px;
    left: 371px;
    width: 154px;
    height: 154px; }
  .characters_main a[href*="ACKB"] {
    top: 264px;
    left: 556px;
    width: 80px;
    height: 80px; }
  .characters_main a[href*="CHEW"] {
    top: 325px;
    left: 39px;
    width: 102px;
    height: 102px; }
  .characters_main a[href*="LNDO"] {
    top: 371px;
    left: 174px;
    width: 80px;
    height: 80px; }
  .characters_main a[href*="LEIA"] {
    top: 298px;
    left: 244px;
    width: 154px;
    height: 154px; }
  .characters_main a[href*="EWKS"] {
    top: 371px;
    left: 390px;
    width: 80px;
    height: 80px; }
  .characters_main a[href*="MONM"] {
    top: 325px;
    left: 495px;
    width: 102px;
    height: 102px; }

.characters_main_map {
  background-image: url("/assets/CHARS/MAINCHAR/IMAGES/CLB_MAP.JPG"); }
  .characters_main_map .close {
    top: 22px;
    left: 620px; }
  .characters_main_map span {
    font-family: 'Mech';
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
    position: absolute;
    top: 438px;
    left: 448px; }
  .characters_main_map a {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: inset 1px 0 3px white;
    font-size: 10px;
    white-space: nowrap; }
  .characters_main_map .e:after {
    position: relative;
    left: 15px;
    content: attr(data-name); }
  .characters_main_map .ne:after {
    position: relative;
    left: 15px;
    top: -7px;
    content: attr(data-name); }
  .characters_main_map .s:after {
    position: relative;
    left: -20px;
    top: 15px;
    content: attr(data-name); }
  .characters_main_map .n:after {
    position: relative;
    top: -15px;
    left: -20px;
    content: attr(data-name); }
  .characters_main_map .nw:after {
    position: relative;
    top: -7px;
    left: -39px;
    content: attr(data-name); }
  .characters_main_map .w4:after {
    position: relative;
    left: -25px;
    content: attr(data-name); }
  .characters_main_map .w5:after {
    position: relative;
    left: -31px;
    content: attr(data-name); }
  .characters_main_map .w6:after {
    position: relative;
    left: -36.4px;
    content: attr(data-name); }
  .characters_main_map .w7:after {
    position: relative;
    left: -42px;
    content: attr(data-name); }
  .characters_main_map .w9:after {
    position: relative;
    left: -54px;
    content: attr(data-name); }
  .characters_main_map .w13:after {
    position: relative;
    left: -80px;
    content: attr(data-name); }
  .characters_main_map .w14:after {
    position: relative;
    left: -84px;
    content: attr(data-name); }
  .characters_main_map .w15:after {
    position: relative;
    left: -90px;
    content: attr(data-name); }
  .characters_main_map .w18:after {
    position: relative;
    left: -108px;
    content: attr(data-name); }
  .characters_main_map [href*="OBIW"], .characters_main_map [href*="C3PO"], .characters_main_map [href*="LUKE"], .characters_main_map [href*="LEIA"], .characters_main_map [href*="HANS"], .characters_main_map [href*="DART"] {
    background-color: #999999;
    color: white; }
  .characters_main_map [href*="YODA"], .characters_main_map [href*="ANAK"] {
    background-color: #F04438;
    color: #F04438; }
  .characters_main_map [href*="PALP"], .characters_main_map [href*="TARK"], .characters_main_map [href*="PIET"], .characters_main_map [href*="IMPO"], .characters_main_map [href*="VEER"], .characters_main_map [href*="THRA"] {
    background-color: #3874C8;
    color: #3874C8; }
  .characters_main_map [href*="MARA"], .characters_main_map [href*="ZUCK"], .characters_main_map [href*="BOSS"], .characters_main_map [href*="DENG"],
  .characters_main_map [href*="IG88"], .characters_main_map [href*="BOUS"], .characters_main_map [href*="GREE"], .characters_main_map [href*="BOBA"],
  .characters_main_map [href*="JABB"], .characters_main_map [href*="BIBF"], .characters_main_map [href*="CRUM"], .characters_main_map [href*="REBO"],
  .characters_main_map [href*="OOLA"], .characters_main_map [href*="JSKF"], .characters_main_map [href*="JCRT"], .characters_main_map [href*="JDRO"] {
    background-color: #F87800;
    color: #F87800; }
  .characters_main_map [href*="LNDO"], .characters_main_map [href*="LOBO"],
  .characters_main_map [href*="CHEW"], .characters_main_map [href*="CFAM"], .characters_main_map [href*="HKID"], .characters_main_map [href*="WARR"], .characters_main_map [href*="EWKS"] {
    background-color: #68D860;
    color: #68D860; }
  .characters_main_map [href*="REBE"], .characters_main_map [href*="NIEN"], .characters_main_map [href*="MONM"], .characters_main_map [href*="WEDG"], .characters_main_map [href*="BIGG"],
  .characters_main_map [href*="ACKB"], .characters_main_map [href*="DODO"], .characters_main_map [href*="MADI"], .characters_main_map [href*="RIEE"], .characters_main_map [href*="GARM"] {
    background-color: #E0B028;
    color: #E0B028; }
  .characters_main_map [href*="LFRI"], .characters_main_map [href*="OWEN"], .characters_main_map [href*="GARI"], .characters_main_map [href*="CANP"],
  .characters_main_map [href*="NODE"], .characters_main_map [href*="R2D2"], .characters_main_map [href*="21B"], .characters_main_map [href*="4LOM"], .characters_main_map [href*="FX7"] {
    background-color: #909CF8;
    color: #909CF8; }
  .characters_main_map [href*="OBIW"] {
    top: 117px;
    left: 313px; }
  .characters_main_map [href*="C3PO"] {
    top: 154px;
    left: 374px; }
  .characters_main_map [href*="DART"] {
    top: 154px;
    left: 251px; }
  .characters_main_map [href*="HANS"] {
    top: 224px;
    left: 251px; }
  .characters_main_map [href*="LUKE"] {
    top: 224px;
    left: 374px; }
  .characters_main_map [href*="LEIA"] {
    top: 260px;
    left: 313.5px; }
  .characters_main_map [href*="YODA"] {
    top: 70px;
    left: 313px; }
  .characters_main_map [href*="ANAK"] {
    top: 88px;
    left: 258px; }
  .characters_main_map [href*="PALP"] {
    top: 130px;
    left: 213px; }
  .characters_main_map [href*="TARK"] {
    top: 158px;
    left: 202px; }
  .characters_main_map [href*="PIET"] {
    top: 106px;
    left: 233px; }
  .characters_main_map [href*="IMPO"] {
    top: 71px;
    left: 201px; }
  .characters_main_map [href*="VEER"] {
    top: 45px;
    left: 237px; }
  .characters_main_map [href*="THRA"] {
    top: 35px;
    left: 170px; }
  .characters_main_map [href*="MARA"] {
    top: 79px;
    left: 136px; }
  .characters_main_map [href*="ZUCK"] {
    top: 134px;
    left: 109px; }
  .characters_main_map [href*="BOSS"] {
    top: 188px;
    left: 103px; }
  .characters_main_map [href*="DENG"] {
    top: 189px;
    left: 151px; }
  .characters_main_map [href*="IG88"] {
    top: 247px;
    left: 108px; }
  .characters_main_map [href*="BOUS"] {
    top: 233px;
    left: 155px; }
  .characters_main_map [href*="GREE"] {
    top: 221px;
    left: 201px; }
  .characters_main_map [href*="BOBA"] {
    top: 189px;
    left: 198px; }
  .characters_main_map [href*="JABB"] {
    top: 247px;
    left: 213px; }
  .characters_main_map [href*="BIBF"] {
    top: 271px;
    left: 232px; }
  .characters_main_map [href*="CRUM"] {
    top: 272px;
    left: 174px; }
  .characters_main_map [href*="REBO"] {
    top: 294px;
    left: 130px; }
  .characters_main_map [href*="OOLA"] {
    top: 305px;
    left: 198px; }
  .characters_main_map [href*="JSKF"] {
    top: 339px;
    left: 165px; }
  .characters_main_map [href*="JCRT"] {
    top: 374px;
    left: 210px; }
  .characters_main_map [href*="JDRO"] {
    top: 394px;
    left: 263px; }
  .characters_main_map [href*="LNDO"] {
    top: 290px;
    left: 256px; }
  .characters_main_map [href*="LOBO"] {
    top: 331px;
    left: 233px; }
  .characters_main_map [href*="CHEW"] {
    top: 302px;
    left: 283px; }
  .characters_main_map [href*="CFAM"] {
    top: 347px;
    left: 272px; }
  .characters_main_map [href*="HKID"] {
    top: 400px;
    left: 315px; }
  .characters_main_map [href*="WARR"] {
    top: 346px;
    left: 357px; }
  .characters_main_map [href*="EWKS"] {
    top: 331px;
    left: 394px; }
  .characters_main_map [href*="REBE"] {
    top: 289px;
    left: 371px; }
  .characters_main_map [href*="NIEN"] {
    top: 270px;
    left: 395px; }
  .characters_main_map [href*="MONM"] {
    top: 247px;
    left: 415px; }
  .characters_main_map [href*="WEDG"] {
    top: 220px;
    left: 426px; }
  .characters_main_map [href*="BIGG"] {
    top: 188px;
    left: 431px; }
  .characters_main_map [href*="ACKB"] {
    top: 272px;
    left: 459px; }
  .characters_main_map [href*="DODO"] {
    top: 233px;
    left: 472px; }
  .characters_main_map [href*="MADI"] {
    top: 304px;
    left: 430px; }
  .characters_main_map [href*="RIEE"] {
    top: 337px;
    left: 465px; }
  .characters_main_map [href*="GARM"] {
    top: 295px;
    left: 499px; }
  .characters_main_map [href*="LFRI"] {
    top: 190px;
    left: 526px; }
  .characters_main_map [href*="OWEN"] {
    top: 145px;
    left: 472px; }
  .characters_main_map [href*="GARI"] {
    top: 133px;
    left: 414px; }
  .characters_main_map [href*="CANP"] {
    top: 106px;
    left: 457px; }
  .characters_main_map [href*="NODE"] {
    top: 84px;
    left: 494px; }
  .characters_main_map [href*="R2D2"] {
    top: 88px;
    left: 371px; }
  .characters_main_map [href*="21B"] {
    top: 74px;
    left: 431px; }
  .characters_main_map [href*="4LOM"] {
    top: 47px;
    left: 395px; }
  .characters_main_map [href*="FX7"] {
    top: 32px;
    left: 355px; }

.technology_menu {
  background-image: url("/assets/TECH/IMAGES/TECHMENO.JPG"); }
  .technology_menu span {
    position: absolute;
    top: 18px;
    left: 504px;
    font-family: 'Mech';
    font-size: 36px;
    color: white; }
  .technology_menu video {
    position: absolute;
    top: 55px;
    left: 141px; }
  .technology_menu a {
    display: block;
    position: absolute;
    left: 10px;
    width: 599px;
    height: 94px;
    padding: 40px 0px 0px 25px;
    font-size: 30px;
    font-family: 'Mech';
    color: #B4B4B4; }
  .technology_menu a:hover {
    color: white; }
  .technology_menu a[href*="vehicles"] {
    top: 53px; }
  .technology_menu a[href*="weapons"] {
    top: 187px;
    padding-top: 38px;
    height: 88px; }
  .technology_menu a[href*="devices"] {
    top: 317px;
    padding-top: 38px;
    height: 92px; }

.technology_vehicles {
  background-image: url("/assets/TECH/VEHICLES/IMAGES/VEHIMENU.JPG"); }
  .technology_vehicles span {
    position: absolute;
    bottom: 40px;
    left: 555px;
    font-family: 'Mech';
    font-size: 36px;
    color: white; }
  .technology_vehicles .vehicles_category {
    position: absolute;
    top: 0;
    width: 107px;
    color: white;
    text-align: center;
    padding-top: 114px;
    padding-bottom: 6px;
    font-size: 16px;
    font-family: "Mech";
    letter-spacing: 0.5px; }
  .technology_vehicles .vehicles_category:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .technology_vehicles a[href*="star"] {
    left: 1px; }
  .technology_vehicles a[href*="aircraft"] {
    left: 107px; }
  .technology_vehicles a[href*="ground"] {
    left: 214px; }
  .technology_vehicles a[href*="capital"] {
    left: 321px; }
  .technology_vehicles a[href*="other"] {
    left: 428px; }
  .technology_vehicles a[href*="topics"] {
    left: 533px; }
  .technology_vehicles a[href*="falcwalk"] {
    position: absolute;
    display: block;
    top: 406px;
    left: 80px;
    color: white;
    font-family: "Mech";
    font-size: 20px;
    letter-spacing: 1px; }
  .technology_vehicles a[href*="falcwalk"]:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -50px;
    background-color: #dddddd; }
  .technology_vehicles a[href*="falcwalk"]:hover:before {
    box-shadow: 0 0 10px white; }

.locations_menu {
  background-image: url("/assets/LOCALE/IMAGES/LOCMENU.JPG"); }
  .locations_menu span {
    font-family: 'Mech';
    font-size: 22px;
    color: white;
    position: absolute; }
  .locations_menu .txt_title {
    font-size: 36px;
    top: 14px;
    left: 526px; }
  .locations_menu .txt_core {
    top: 14px;
    left: 300px;
    letter-spacing: 1px; }
  .locations_menu .txt_mid {
    top: 172px;
    left: 246px;
    letter-spacing: 1px; }
  .locations_menu .txt_outer {
    top: 282px;
    left: 426px;
    letter-spacing: 1px; }
  .locations_menu .bullet {
    color: white;
    font-size: 13px;
    text-decoration: none;
    position: absolute; }
  .locations_menu .bullet:before {
    content: '';
    display: inline-block;
    background-color: #606060;
    width: 10px;
    height: 10px;
    border: 1px solid #C0C0C0;
    box-shadow: inset -1px -1px 4px black;
    border-radius: 50%;
    margin-right: 4px; }
  .locations_menu .bullet[href*="real"] {
    top: 58px;
    left: 462px; }
  .locations_menu .bullet[href*="hyperspace"] {
    top: 78px;
    left: 462px; }
  .locations_menu .bullet:hover:before {
    box-shadow: inset -1px -1px 4px black, 0 0 7px white; }
  .locations_menu .circle {
    position: absolute;
    border-radius: 50%;
    background-color: transparent; }
  .locations_menu .circle:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .locations_menu .circle[href*="CORE"] {
    top: 23px;
    left: 33px;
    width: 132px;
    height: 132px; }
  .locations_menu .circle[href*="CORU"] {
    top: 36px;
    left: 188px;
    width: 118px;
    height: 118px; }
  .locations_menu .circle[href*="KASH"] {
    top: 161px;
    left: 108px;
    width: 132px;
    height: 132px; }
  .locations_menu .circle[href*="BESP"] {
    top: 300px;
    left: 40px;
    width: 118px;
    height: 118px; }
  .locations_menu .circle[href*="HOTH"] {
    top: 300px;
    left: 181px;
    width: 132px;
    height: 132px; }
  .locations_menu .circle[href*="ENDO"] {
    top: 300px;
    left: 328px;
    width: 132px;
    height: 132px; }
  .locations_menu .circle[href*="TATO"] {
    top: 300px;
    left: 478px;
    width: 118px;
    height: 118px; }

.glossary {
  background-image: url("/assets/GLOSSARY/GLOSBACK.jpg"); }
  .glossary span {
    font-family: 'Mech';
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
    position: absolute; }
  .glossary .glossary {
    top: 5px;
    left: 10px; }
  .glossary select {
    position: absolute;
    left: 5px;
    background-color: black;
    color: #CCCCCC;
    border: 4px solid black;
    width: 173px;
    overflow-y: scroll;
    font-size: 12px;
    padding: 2px; }
  .glossary #glossary-category {
    top: 40px; }
  .glossary #glossary-terms {
    top: 132px; }
  .glossary button {
    background-color: transparent;
    border: none;
    position: absolute;
    color: white;
    font-size: 12px; }
  .glossary .fprev {
    top: 12px;
    left: 260px;
    background-color: black;
    border-radius: 15px 0 0 0;
    width: 270px;
    height: 19px;
    padding-right: 200px;
    white-space: nowrap; }
  .glossary .fnext {
    top: 12px;
    left: 530px;
    background-color: black;
    border-radius: 0 15px 0 0;
    width: 75px;
    height: 19px;
    white-space: nowrap; }
  .glossary .prevent {
    top: 57px;
    left: 415px;
    width: 225px;
    height: 20px;
    padding: 0;
    background-color: rgba(96, 24, 24, 0.5); }
  .glossary .nextent {
    top: 421px;
    left: 415px;
    width: 225px;
    height: 20px;
    padding: 0;
    background-color: rgba(96, 24, 24, 0.5); }
  .glossary input {
    position: absolute;
    width: 188px;
    height: 10px;
    top: 13.5px;
    left: 337px;
    font-size: 10px; }
  .glossary #glosname {
    top: 85px;
    left: 207px;
    display: block;
    width: 428px;
    height: 38px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 38px; }
  .glossary #glospicture {
    position: absolute;
    top: 140px;
    left: 215px;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    box-shadow: black 3px 3px 10px; }
  .glossary #glosdescription {
    color: white;
    margin: 0;
    font-size: 12px;
    position: absolute;
    top: 130px;
    left: 347px;
    width: 292px;
    height: 285px;
    overflow-y: auto; }
  .glossary #glostopic {
    position: absolute;
    top: 280px;
    left: 230px;
    width: 95px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    color: #303030;
    background-color: white;
    box-shadow: inset #808080 -2px -2px 4px; }
  .glossary #glostopic:hover {
    background-color: #E0E0E0; }
  .glossary #glostopic:active {
    box-shadow: inset #808080 2px 2px 4px; }
  .glossary #btnglosappears {
    position: absolute;
    top: 330px;
    left: 230px;
    width: 95px;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    border: black solid 1px;
    background-color: #151515; }

/*
Making a cute launcher
*/
.launcher {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .launcher img {
    display: block;
    border: 1px solid white; }
  .launcher span {
    display: block;
    width: 312px;
    height: 25px;
    font-size: 16px; }
  .launcher button {
    display: block;
    background-color: #bbb;
    width: 312px;
    height: 25px;
    font-size: 16px; }
  .launcher button:hover, .launcher button:focus {
    background-color: white;
    font-size: 18px; }
  .launcher span {
    color: white;
    text-align: center;
    line-height: 25px; }
