.characters_menu{
    background-image: url('/assets/CHARS/IMAGES/CHARMENU.JPG');

    video{
        position: absolute;
        top: 58px; left: 0px;
    }

    span{
        position: absolute;
        top: 18px; left: 504px;
        font-family: 'Mech';
        font-size: 36px;
        color: white;
    }

    a{
        display: block;
        position: absolute;
        top: 59px; height: 395px;
    }

    a:hover{
        background-color: rgba(255,255,255,0.05);
    }

    a[href*="main"]{
        width: 210px;
    }

    a[href*="aliens"]{
        left: 211px;
        width: 216px;
    }

    a[href*="groups"]{
        left: 428px;
        width: 212px;
    }

    a p{
        position: relative; top: 360px;
        width: 95%; margin: 0 auto;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 2px white solid;

        font-size: 20px;
        font-family:'Mech';
        color: white;
    }
}

%characters_submenu_styles{
    span{
        font-family: 'Mech';
        position: absolute;
        letter-spacing: 1px;
    }

    a{
        position: absolute;
        border-radius: 50%;
        background-color: transparent;
    }

    a:hover{
        background-color:rgba(255,255,255, 0.04);
    }
}

.characters_main{
    @extend %characters_submenu_styles;
    background-image: url('/assets/CHARS/MAINCHAR/IMAGES/CMB_BACK.JPG');

    .title{
        color: black;
        top: 209px; left: 277px;
        font-size: 34px; font-weight: bold;
    }

    .obiwan, .c3po, .luke, .leia, .solo, .vader{
        color: white;
        font-size: 30px;
    }

    .imperials, .jedi, .droids, .bounty, .tatooine, .smugglers, .rebels{
        color: #B8CCF8;
        font-size: 22px;
    }

    .obiwan{ top: 156px; left: 267px;}
    .c3po  { top: 193px; left: 372px;}
    .luke  { top: 241px; left: 372px;}
    .leia  { top: 279px; left: 273px;}
    .solo  { top: 241px; left: 204px;}
    .vader { top: 192px; left: 182px;}

    .imperials{ top: 23px; left: 34px;}
    .jedi     { top: 4px; left: 233px;}
    .droids   { top: 24px; left: 474px;}
    .bounty   { top: 241px; left: 5px;}
    .tatooine { top: 246px; left: 575px;}
    .smugglers{ top: 422px; left: 118px;}
    .rebels   { top: 415px; left: 475px;}

    a[href*="PALP"]{
        top: 32px; left: 40px;
        width: 102px; height: 102px;
    }

    a[href*="YODA"]{
        top: 8px; left: 175px;
        width: 80px; height: 80px;
    }

    a[href*="OBIW"]{
        top: 6px; left: 244px;
        width: 154px; height: 154px;
    }

    a[href*="21B"]{
        top: 8px; left: 388px;
        width: 80px; height: 80px;
    }

    a[href*="R2D2"]{
        top: 30px; left: 495px;
        width: 102px; height: 102px;
    }

    a[href*="TARK"]{
        top: 115px; left: 3px;
        width: 80px; height: 80px;
    }

    a[href*="DART"]{
        top: 80px; left: 116px;
        width: 154px; height: 154px;
    }

    a[href*="C3PO"]{
        top: 81px; left: 371px;
        width: 154px; height: 154px;
    }

    a[href*="BIGG"]{
        top: 113px; left: 556px;
        width: 80px; height: 80px;
    }

    a[href*="BOBA"]{
        top: 179px; left: 40px;
        width: 102px; height: 102px;
    }

    a[href*="OWEN"]{
        top: 180px; left: 495px;
        width: 102px; height: 102px;
    }

    a[href*="JABB"]{
        top: 265px; left: 2px;
        width: 80px; height: 80px;
    }

    a[href*="HANS"]{
        top: 226px; left: 116px;
        width: 154px; height: 154px;
    }

    a[href*="LUKE"]{
        top: 227px; left: 371px;
        width: 154px; height: 154px;
    }

    a[href*="ACKB"]{
        top: 264px; left: 556px;
        width: 80px; height: 80px;
    }

    a[href*="CHEW"]{
        top: 325px; left: 39px;
        width: 102px; height: 102px;
    }

    a[href*="LNDO"]{
        top: 371px; left: 174px;
        width: 80px; height: 80px;
    }

    a[href*="LEIA"]{
        top: 298px; left: 244px;
        width: 154px; height: 154px;
    }

    a[href*="EWKS"]{
        top: 371px; left: 390px;
        width: 80px; height: 80px;
    }

    a[href*="MONM"]{
        top: 325px; left: 495px;
        width: 102px; height: 102px;
    }
}

.characters_main_map{
    background-image: url("/assets/CHARS/MAINCHAR/IMAGES/CLB_MAP.JPG");

    .close {
        top: 22px;
        left: 620px;
    }

    span{
        font-family: 'Mech';
        font-size: 30px;
        color: white;
        letter-spacing: 1px;
        position: absolute;
        top: 438px; left: 448px;
    }

    a {
        position: absolute;
        display: block;
        width: 12px; height: 12px; border-radius: 50%;
        box-shadow: inset 1px 0 3px 1px white;
        font-size: 10px;
        white-space: nowrap;
    }

    .e:after{
        position: relative;
        left: 15px;
        content: attr(data-name);
    }

    .ne:after{
        position: relative;
        left: 15px; top: -7px;
        content: attr(data-name);
    }

    .s:after{
        position: relative;
        left: -20px; top: 15px;
        content: attr(data-name);
    }

    .n:after{
        position: relative;
        top: -15px; left: -20px;
        content: attr(data-name);
    }

    .nw:after{
        position: relative;
        top: -7px; left: -39px;
        content: attr(data-name);
    }

    .w4:after{
        position: relative;
        left: -25px;
        content: attr(data-name);
    }

    .w5:after{
        position: relative;
        left: -31px;
        content: attr(data-name);
    }
    .w6:after{
        position: relative;
        left: -36.4px;
        content: attr(data-name);
    }
    .w7:after{
        position: relative;
        left: -42px;
        content: attr(data-name);
    }
    .w9:after{
        position: relative;
        left: -54px;
        content: attr(data-name);
    }
    .w13:after{
        position: relative;
        left: -80px;
        content: attr(data-name);
    }
    .w14:after{
        position: relative;
        left: -84px;
        content: attr(data-name);
    }
    .w15:after{
        position: relative;
        left: -90px;
        content: attr(data-name);
    }
    .w18:after{
        position: relative;
        left: -108px;
        content: attr(data-name);
    }




    [href*="OBIW"], [href*="C3PO"], [href*="LUKE"], [href*="LEIA"], [href*="HANS"], [href*="DART"] {
        background-color:#999999;
        color: white;
    }

    [href*="YODA"], [href*="ANAK"]{
        background-color: #F04438;
        color: #F04438;
    }

    [href*="PALP"], [href*="TARK"], [href*="PIET"], [href*="IMPO"], [href*="VEER"], [href*="THRA"]{
        background-color: #3874C8;
        color: #3874C8;
    }

    [href*="MARA"], [href*="ZUCK"], [href*="BOSS"], [href*="DENG"],
    [href*="IG88"], [href*="BOUS"], [href*="GREE"], [href*="BOBA"],
    [href*="JABB"], [href*="BIBF"], [href*="CRUM"], [href*="REBO"],
    [href*="OOLA"], [href*="JSKF"], [href*="JCRT"], [href*="JDRO"]{
        background-color: #F87800;
        color: #F87800;
    }

    [href*="LNDO"], [href*="LOBO"],
    [href*="CHEW"], [href*="CFAM"], [href*="HKID"], [href*="WARR"], [href*="EWKS"]{
        background-color: #68D860;
        color: #68D860;
    }

    [href*="REBE"], [href*="NIEN"], [href*="MONM"], [href*="WEDG"], [href*="BIGG"],
    [href*="ACKB"], [href*="DODO"], [href*="MADI"], [href*="RIEE"], [href*="GARM"]{
        background-color: #E0B028;
        color: #E0B028;
    }
    [href*="LFRI"], [href*="OWEN"], [href*="GARI"], [href*="CANP"],
    [href*="NODE"], [href*="R2D2"], [href*="21B"], [href*="4LOM"], [href*="FX7"]{
        background-color: #909CF8;
        color: #909CF8;
    }

    [href*="OBIW"]{top: 117px; left: 313px;}
    [href*="C3PO"]{top: 154px; left: 374px;}
    [href*="DART"]{top: 154px; left: 251px;}
    [href*="HANS"]{top: 224px; left: 251px;}
    [href*="LUKE"]{top: 224px; left: 374px;}
    [href*="LEIA"]{top: 260px; left: 313.5px;}

    [href*="YODA"]{top: 70px; left: 313px;}
    [href*="ANAK"]{top: 88px; left: 258px;}

    [href*="PALP"]{top: 130px; left: 213px;}
    [href*="TARK"]{top: 158px; left: 202px;}
    [href*="PIET"]{top: 106px; left: 233px;}
    [href*="IMPO"]{top: 71px; left: 201px;}
    [href*="VEER"]{top: 45px; left: 237px;}
    [href*="THRA"]{top: 35px; left: 170px;}

    [href*="MARA"]{top: 79px; left: 136px;}
    [href*="ZUCK"]{top: 134px; left: 109px;}
    [href*="BOSS"]{top: 188px; left: 103px;}
    [href*="DENG"]{top: 189px; left: 151px;}
    [href*="IG88"]{top: 247px; left: 108px;}
    [href*="BOUS"]{top: 233px; left: 155px;}
    [href*="GREE"]{top: 221px; left: 201px;}
    [href*="BOBA"]{top: 189px; left: 198px;}
    [href*="JABB"]{top: 247px; left: 213px;}
    [href*="BIBF"]{top: 271px; left: 232px;}
    [href*="CRUM"]{top: 272px; left: 174px;}
    [href*="REBO"]{top: 294px; left: 130px;}
    [href*="OOLA"]{top: 305px; left: 198px;}
    [href*="JSKF"]{top: 339px; left: 165px;}
    [href*="JCRT"]{top: 374px; left: 210px;}
    [href*="JDRO"]{top: 394px; left: 263px;}

    [href*="LNDO"]{top: 290px; left: 256px;}
    [href*="LOBO"]{top: 331px; left: 233px;}
    [href*="CHEW"]{top: 302px; left: 283px;}
    [href*="CFAM"]{top: 347px; left: 272px;}
    [href*="HKID"]{top: 400px; left: 315px;}
    [href*="WARR"]{top: 346px; left: 357px;}
    [href*="EWKS"]{top: 331px; left: 394px;}

    [href*="REBE"]{top: 289px; left: 371px;}
    [href*="NIEN"]{top: 270px; left: 395px;}
    [href*="MONM"]{top: 247px; left: 415px;}
    [href*="WEDG"]{top: 220px; left: 426px;}
    [href*="BIGG"]{top: 188px; left: 431px;}
    [href*="ACKB"]{top: 272px; left: 459px;}
    [href*="DODO"]{top: 233px; left: 472px;}
    [href*="MADI"]{top: 304px; left: 430px;}
    [href*="RIEE"]{top: 337px; left: 465px;}
    [href*="GARM"]{top: 295px; left: 499px;}

    [href*="LFRI"]{top: 190px; left: 526px;}
    [href*="OWEN"]{top: 145px; left: 472px;}
    [href*="GARI"]{top: 133px; left: 414px;}
    [href*="CANP"]{top: 106px; left: 457px;}
    [href*="NODE"]{top: 84px; left: 494px;}
    [href*="R2D2"]{top: 88px; left: 371px;}
    [href*="21B"]{top: 74px; left: 431px;}
    [href*="4LOM"]{top: 47px; left: 395px;}
    [href*="FX7"]{top: 32px; left: 355px;}

}

.characters_aliens{
    @extend %characters_submenu_styles;
    background-image: url('/assets/CHARS/ALIENS/IMAGES/CRMENU.JPG');

    span{
        color: white;
        font-size: 20px;
    }

    .aliens{
        top: 23px; left: 308px;
    }

    .monstrous{
        top: 320px;
        left: 486px;
    }

    .other{
        top: 283px;
        left: 125px;
        text-align: right;
    }
    .title{
        font-size: 26px;
        top: 413px;
        left: 263px;
    }

    a[href*="BITH"]{
        top: 0; left: 32px;
        width: 116px; height: 116px;
    }
    a[href*="ITHO"]{
        top: 52px; left: 129px;
        width: 116px; height: 116px;
    }
    a[href*="YUZZ"]{
        top: 2px; left: 206px;
        width: 74px; height: 74px;
    }
    a[href*="EWOK"]{
        top: 43px; left: 229px;
        width: 190px; height: 190px;
    }
    a[href*="TUSK"]{
        top: 2px; left: 367px;
        width: 74px; height: 74px;
    }
    a[href*="TWIL"]{
        top: 52px; left: 404px;
        width: 116px; height: 116px;
    }
    a[href*="GAMO"]{
        top: 2px; left: 498px;
        width: 116px; height: 116px;
    }
    a[href*="BANT"]{
        top: 170px; left: 54px;
        width: 116px; height: 116px;
    }
    a[href*="BOGW"]{
        top: 263px; left: 5px;
        width: 96px; height: 96px;
    }
    a[href*="BUBO"]{
        top: 339px; left: 39px;
        width: 116px; height: 116px;
    }
    a[href*="DEWB"]{
        top: 224px; left: 126px;
        width: 190px; height: 190px;
    }
    a[href*="WAMP"]{
        top: 224px; left: 329px;
        width: 190px; height: 190px;
    }
    a[href*="RANC"]{
        top: 171px; left: 481px;
        width: 116px; height: 116px;
    }
    a[href*="DIAN"]{
        top: 263px; left: 542px;
        width: 96px; height: 96px;
    }
    a[href*="SLUG"]{
        top: 338px; left: 487px;
        width: 116px; height: 116px;
    }
}