.glossary{
    background-image: url("/assets/GLOSSARY/GLOSBACK.jpg");
    span{
        font-family: 'Mech';
        font-size: 30px;
        color: white;
        letter-spacing: 1px;
        position: absolute;
    }

    .glossary{
        top: 5px; left: 10px;
    }

    select{
        position: absolute; left: 5px;
        background-color: black;
        color: #CCCCCC;
        border: 4px solid black;
        width: 173px;
        overflow-y: scroll;
        font-size: 12px;
        padding: 2px;
    }
    #glossary-category {top: 40px;}
    #glossary-terms {top: 132px; }

    button{
        background-color: transparent;
        border: none;
        position: absolute;
        color: white;
        font-size: 12px;
    }
    .fprev{
        top: 12px; left: 260px;
        background-color: black;
        border-radius: 15px 0 0 0;
        width: 270px; height: 19px;
        padding-right: 200px;
        white-space: nowrap;
    }
    .fnext{
        top: 12px; left: 530px;
        background-color: black;
        border-radius: 0 15px 0 0;
        width: 75px; height: 19px;
        white-space: nowrap;
    }

    .prevent{
        top: 57px;
        left: 415px;
        width: 225px;
        height: 20px;
        padding: 0;
        background-color: rgba(96,24,24,0.5);
    }
    .nextent{
        top: 421px;
        left: 415px;
        width: 225px;
        height: 20px;
        padding: 0;
        background-color: rgba(96,24,24,0.5);
    }

    input{
        position: absolute;
        width: 188px;
        height: 10px;
        top: 13.5px;
        left: 337px;
        font-size: 10px;
    }

    #glossary-name{
        top: 85px; left: 207px;
        display: block;
        width: 428px; height: 38px;
        padding-left: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        line-height: 38px;
    }

    #glossary-picture{
        position: absolute;
        top: 140px; left: 215px;
        width: 120px; height: 120px;
        border-radius: 10%;
        box-shadow: black 3px 3px 10px;
        background-size: cover;
    }

    #glossary-description{
        color: white;
        margin: 0;
        font-size: 12px;
        position: absolute;
        top: 130px;
        left: 347px;
        width: 292px;
        height: 285px;
        line-height: normal;
        word-spacing: 2px;
        overflow-y: auto;
    }

    #glossary-topic{
        position: absolute;
        top: 280px;
        left: 230px;
        width: 95px;
        height: 20px;
        text-align: center;
        border-radius: 10px;
        color: #303030;
        background-color: white;
        box-shadow: inset #808080 -2px -2px 4px;
    }

    #glossary-topic:hover{
        background-color: #E0E0E0;
    }

    #glossary-topic:active{
        box-shadow: inset #808080 2px 2px 4px;
    }

    #glossary-sources{
        position: absolute;
        top: 330px;
        left: 230px;
        width: 95px;
        height: 45px;
        text-align: center;
        border-radius: 10px;
        font-size: 12px;
        color: white;
        border: black solid 1px;
        background-color: #151515;
    }
}