.mainMenu {
    background-image: url('/assets/GENERAL/IMAGES/MAINMENU.JPG');

    nav{
        position: absolute;
        top: 20px; left: 0; bottom: 0;
        width: 260px; height: 100%;
    }
    hr{
        width: 220px;
        border: 1px solid rgba(white, 0.7);
        margin-left: 28px; margin-right: 14px;
    }
    a div{
        width: 235px;
        height: 37px;
        margin-left: 20px;
        margin-bottom: 8px;
        margin-right: 5px;
        color: white;
        background-color: rgba(black, 0.7);

        // Round button border
        border: 1px solid rgba(white, 0.7);
        border-radius: 50px;
        letter-spacing: 1px;
        font-family: 'Mech';
        font-size: 20px;
        line-height: 37px;
        text-align: center;
        text-decoration:none;
    }

    a:hover > div, a:focus > div {
        background-color:rgba(black, 0.9);
        border-color: white;
    }

    video{
        position: absolute;
        top:102px; left:257px;
    }

}

// Map
.mainMenu_map {
    background-image: url('/assets/GENERAL/IMAGES/MAINMAP.JPG');

    span{
        color: white;
        position: absolute;
        top: 36px; left: 50%; transform: translateX(-50%);
        text-align: center;
        font-family: 'Mech';
        letter-spacing: 1px;
        font-size: 30px;
    }

    .main {
        color: #A0F0D8;
        font-family: 'Mech';
        letter-spacing: 1px;
        font-size: 20px;
    }

    .sub {
        color: #C8C8C8;
        font-size: 12px;
        display: block;
    }

    a:hover, a:focus{
        color: white;
    }

}